.level-card {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	transition: transform cubic-bezier(0, 1, 1, 1) 1s;
}
.level-card:hover {
	transform: rotate(0.5deg);
}

.level-area {
	padding: 5px;
	position: relative;
}
.level-left-area {
	flex-grow: 1;
}
.level-right-area {
	text-align: right;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.level-info-subarea {
	flex-grow: 1;
}

.level-name {
	display: inline-block;
	margin-right: 3px;
	margin-bottom: -12px;
}
.level-thumb {
	width: 240px;
	height: auto;
}
.level-author {
	font-style: italic;
	font-size: 12pt;
}
.level-compatibility-notice {
	font-size: 12pt;
}
.level-date {
	font-style: italic;
	text-decoration: 2px underline dotted;
}