@import "basicelements.css";
@import "form.css";
@import "navbar.css";

@font-face {
	font-family: "Freight Sans";
	src: url(../font/FreightSans-Medium.ttf);
	font-display: swap;
}
@font-face {
	font-family: "Freight Sans";
	src: url(../font/FreightSans-Bold.ttf);
	font-weight: bold;
	font-display: swap;
}

body {
	font-family: "Freight Sans", sans-serif;
	font-size: 16pt;
	color: black;
	
	background-color: #d5eef5;
	background-image: url(../img/bghills.svg), url(../img/bg.svg);
	background-position: bottom, center;
	background-repeat: repeat-x, repeat;
	
	margin: 0;
}
#content {
	
	margin: 1em 3em;
}
:root, body  {
	min-height: 100%;
}

@media only screen and (max-width: 720px) {
	body {
		margin: 0.75em;
	}
}
@media only screen and (max-height: 300px) {
	body {
		margin-top: 0.25em;
	}
}

.no-auth, .auth-only, .no-admin, .admin-only {
	display: none;
}

:root.js.auth-authed .auth-only,
:root.js.auth-admin .admin-only,
:root.js:not(.auth-authed) .no-auth,
:root.js:not(.auth-authed) .no-admin {
	display: unset;
}